header {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: var(--point-color);
  box-shadow: 0 2px 4px rgba(62, 60, 110, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

header .logoWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .logoWrap h1 {
  height: 26px;
}

header .logoWrap img {
  vertical-align: top;
  height: 26px;
}

header .navBtn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navBtn button:last-child {
  display: none;
}

header .navBtn i {
  font-size: 20px;
  color: #FFF;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 20;
  display: none;
}

header nav.active {
  display: block;
}

header nav ul {
  padding-top: 80px;
}

header nav ul li {
  width: 100%;
  height: 80px;
  padding-left: 20px;
  line-height: 80px;
}

header nav ul li:nth-child(odd) {
  background-color: var(--main-color);
}

header nav ul li a {
  font-size: var(--font-mz);
  font-weight: var(--font-sbw);
}

header nav .navHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--sub-color);
}

header nav .navHeader button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

header nav .navHeader button i {
  font-size: 20px;
  color: #FFF;
}

header .searchForm {
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  padding: 40px 20px;
  z-index: 10;
  background-color: #FFF;
  display: none;
}

header .searchForm.active {
  display: block;
}

header .searchForm input {
  width: 100%;
  padding: 8px 40px 8px 20px;
  border-radius: 20px;
  border: 1px solid var(--point-color);
}

header .searchForm button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

header .searchForm button i {
  font-size: 20px;
}

.blindBg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.blindBg.active {
  display: block;
}





main {
  margin-top: 80px;
}

main section {
  padding: 40px 20px;
}

main section:nth-child(odd) {
  background-color: var(--bg-color);
}

main section h3 {
  font-size: var(--font-smz);
  font-weight: var(--font-bw);
}

.heroSection {
  padding: 0;
  padding-left: 20px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.heroSection .titleWrap {
  position: absolute;
  top: 100px;
  left: 20px;
}

.heroSection .titleWrap h4 {
  font-size: var(--font-sz);
  font-weight: var(--font-mw);
  color: #333;
  margin: 10px 0 20px;
}

.heroSection .titleWrap .btnWrap button {
  width: 60px;
  height: 20px;
  border: 1px solid var(--main-color);
  border-radius: 20px;
  font-size: 10px;
  color: #333;
}

.heroSection .titleWrap .btnWrap button:first-child {
  background-color: var(--main-color);
  color: #FFF;
}

.heroSection .imgWrap img {
  height: 350px;
  vertical-align: top;
}



.makingSection h3 {
  text-align: center;
  margin-bottom: 40px;
}

.makingSection ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 0 40px;
}

.makingSection .makeProgress {
  aspect-ratio: 1 / 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
}

.makingSection .makeProgress i {
  font-size: 60px;
  color: var(--main-color);
}

.makingSection .makeProgress h4 {
  font-size: var(--font-smz);
  text-align: right;
  color: var(--sub-color);
}

.makingSection .detailProgress {
  margin-top: 20px;
}

.makingSection .detailProgress li {
  font-size: var(--font-smz);
  list-style: disc;
  list-style-position: inside;
}
  