header {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background-color: var(--point-color);
  box-shadow: 0 2px 4px rgba(62, 60, 110, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

header .logoWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .logoWrap h1 {
  height: 26px;
}

header .logoWrap img {
  vertical-align: top;
  height: 26px;
}

header .navBtn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navBtn button:last-child {
  display: none;
}

header .navBtn i {
  font-size: 20px;
  color: #FFF;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 20;
  display: none;
}

header nav.active {
  display: block;
}

header nav ul {
  padding-top: 80px;
}

header nav ul li {
  width: 100%;
  height: 80px;
  padding-left: 20px;
  line-height: 80px;
}

header nav ul li:nth-child(odd) {
  background-color: var(--main-color);
}

header nav ul li a {
  font-size: var(--font-mz);
  font-weight: var(--font-sbw);
  color: var(--point-color);
}

header nav .navHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--sub-color);
}

header nav .navHeader button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

header nav .navHeader button i {
  font-size: 20px;
  color: #FFF;
}

header .searchForm {
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  padding: 40px 20px;
  z-index: 10;
  background-color: #FFF;
  display: none;
}

header .searchForm.active {
  display: block;
}

header .searchForm input {
  width: 100%;
  padding: 8px 40px 8px 20px;
  border-radius: 20px;
  border: 1px solid var(--point-color);
}

header .searchForm button {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

header .searchForm button i {
  font-size: 20px;
}

.blindBg {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.blindBg.search {
  height: calc(100vh - 80px);
  top: 80px;
}

.blindBg.active {
  display: block;
}





main {
  margin-top: 80px;
}

main section {
  padding: 40px 20px;
}

main section:nth-child(odd) {
  background-color: var(--bg-color);
}

main section h3 {
  font-size: var(--font-smz);
  font-weight: var(--font-bw);
}

.heroSection {
  padding: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.heroSection .titleWrap {
  position: absolute;
  top: 100px;
  left: 20px;
}

.heroSection .titleWrap h4 {
  font-size: var(--font-sz);
  font-weight: var(--font-mw);
  color: #333;
  margin: 10px 0 20px;
}

.heroSection .titleWrap .btnWrap button {
  width: 60px;
  height: 20px;
  border: 1px solid var(--main-color);
  border-radius: 20px;
  font-size: 10px;
  color: #333;
}

.heroSection .titleWrap .btnWrap button:first-child {
  background-color: var(--main-color);
  color: #FFF;
}

.heroSection .imgWrap img {
  height: 350px;
  vertical-align: top;
}



.makingSection h3, .awardSection h3 {
  text-align: center;
  margin-bottom: 40px;
}

.makingSection > ol > li {
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

.makingSection > ol > li:not(:last-child) {
  margin-bottom: 20px;
}

.makingSection .makeProgress {
  width: 120px;
  height: 120px;
  background-color: var(--bg-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.makingSection .makeProgress i {
  font-size: 40px;
  color: var(--main-color);
}

.makingSection .makeProgress h4 {
  font-size: var(--font-smz);
  font-weight: var(--font-sbw);
  text-align: right;
  color: var(--sub-color);
}

.makingSection .detailProgress {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.makingSection .detailProgress li {
  font-size: var(--font-smz);
  list-style: number;
  list-style-position: inside;
}


.awardSection {
  padding: 40px 20px 20px 20px;
}

.awardSection h3 {
  margin-bottom: 20px;
  padding-left: 10px;
}

.awardSection .awardList {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-x: hidden;
  padding: 20px 0 20px 0;
}

.awardSection .awardList li {
  min-width: 160px;
  height: 200px;
  padding: 30px 20px;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.awardSection .awardList .awardIcon {
  text-align: center;
}

.awardSection .awardList .awardIcon i {
  font-size: 60px;
  color: var(--main-color);
}

.awardSection .awardList li h4 {
  font-size: var(--font-smz);
  font-weight: var(--font-mw);
  text-align: center;
}

.awardSection .awardList li strong {
  color: var(--sub-color);
  font-weight: var(--font-bw);
}

.awardSection .awardList li:last-child div {
  position: relative;
}

.awardSection .awardList li:last-child i:first-child {
  position: absolute;
  font-size: 30px;
  bottom: 0;
}

.awardSection .awardList li:last-child i:last-child {
  font-size: 60px;
  color: #EEE;
}




.productSection {
  padding: 40px 10px;
}

.productSection > div {
  padding: 40px 10px 20px 0;
  position: relative;
}


.productSection > div h3 {
  margin-bottom: 5px;
  padding-left: 10px;
  font-size: var(--font-smz);
  font-weight: var(--font-mw);
}


.productSection ul {
  display: flex;
  gap: 20px;
  padding: 5px 0 20px 10px;
  overflow-x: hidden;
}

.productSection ul li {
  min-width: 100px;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.productSection ul li a {
  width: 100%;
  height: 100%;
}

.productSection ul li img {
  height: 100%;
  margin: 0 auto;
  display: block;
}

.productSection > div .productBtn {
  position: absolute;
  top: 40px;
  right: 20px;
}

.productSection > div .productBtn button i {
  font-size: var(--font-smz);
}





.faqSection .formWrap {
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.faqSection .formWrap .formBtnWrap {
  margin: 20px 0 40px;
}

.faqSection .formWrap .formBtnWrap button {
  width: 60px;
  height: 20px;
  border: 1px solid var(--main-color);
  border-radius: 20px;
  font-size: 10px;
  color: #333;
}

.faqSection .formWrap .formBtnWrap button.active {
  background-color: var(--main-color);
  color: #FFF;
}

.faqSection .formWrap form {
  display: none;
}

.faqSection .formWrap form.active {
  display: block;
}

.faqSection .formWrap form input {
  display: block;
  width: 100%;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid var(--main-color);
}

.faqSection .formWrap form input:not(:first-child) {
  margin-top: 20px;
}

.faqSection .formWrap form textarea {
  resize: none;
  width: 100%;
  min-height: 100px;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid var(--main-color);
  margin-top: 20px;
}

.faqSection .formWrap form textarea:focus {
  outline: none;
}

.faqSection .formWrap form button {
  width: 100%;
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid var(--main-color);
  color: #333;
  margin-top: 40px;
}

.faqSection .formWrap form button.active {
  background-color: var(--main-color);
  color: #FFF;
}


footer {
  height: 300px;
  background-color: rgba(62, 60, 110, 0.5);
}